body{
    font-family: "Montserrat";
}


 /* Title  */

#title{
    color:#fff;
    background-color: #ff4c68;
}

.h1-title{
    font-size:3.5rem;
    font-family: "Montserrat";
    line-height: 1.5;
}



.title-img{
    padding-top:12%;
    margin-top:6%;
    width:54%;
    transform: rotate(20deg);         /*  To rotate a photo  */
}

.container-fluid{
    padding:3% 15%;
}



/* Navigation bar */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family:"Ubuntu";
    font-size:2rem;
    font-weight:bold;
}

.nav-item{
    padding:0 12px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}



/* Download buttons */

.down-butt{
    margin-top:9%;
}


/* Features */


#features{
    padding:7% 15%;
}

.feature-box{
    text-align:center;
    padding:5%;
}

.feature-box p{
    font-family:open;
    color:grey;
    font-size:1.1rem;
}

.icon{
    color:#ef8172;
    margin:10px;
}

.icon:hover{
    color:#ff4c68;
}
/* li{
    list-style:none;
} */