body{
    font-family: "Montserrat";
}


 /* Title  */

#title{
    color:#fff;
    background-color: #ff4c68;
}

.h1{
    font-size:3.5rem;
    font-family: "Montserrat";
    line-height: 1.5;
}

.title-img{
    width:56%;
    transform: rotate(25deg);         /*  To rotate a photo  */
    position: absolute;
    right:30%;
}

.container-fluid{
    padding:3% 15%;
    padding-bottom: 20%;
}



/* Navigation bar */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family:"Ubuntu";
    font-size:2rem;
    font-weight:bold;
}

.nav-item{
    padding:0 12px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}



/* Download buttons */

.down-butt{
    margin-top:9%;
}


/* Features */


#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align:center;
    padding:5%;
}

.feature-box p{
    font-family:open;
    color:grey;
    font-size:1.1rem;
}

.icon{
    color:#ef8172;
    margin:10px;
}

.icon:hover{
    color:#ff4c68;
}
/* li{
    list-style:none;
} */




/* Testimonials */


#testimonials{
    text-align:center;
    background-color:#ef8172;
    color:#fff;
}

.carousel-item{
    padding:7% 15%;
}

h2{
    font-family:"Montserrat";
    line-height:1.5;
    font-size: 2.5rem;
}

.testi-img{
    margin:2.4%;
    width: 10%;
    border-radius:100%;
    
}


/* Press section */

#press{
    background-color:#ee7e6f;
    text-align:center;
    padding-bottom: 3%;
}

.press-img{
    width:15%;
    margin-bottom: 40px;
    margin-left:50px;
    margin-right: 50px;;
    margin-top:-20px;
}




/* Price */

.h2-price{
    font-family:"Montserrat";
}

.para-price{
    color:grey;
    font-family:"lato";
}

#pricing{
    padding:100px;
}

.card{
    margin-top:8%;
    text-align:center;
}



/* Action Tags */


#cta{
    font-family: "Montserrat";
    background-color: #ff4c68;
    color:white;
    
    padding:10% 15%;
    text-align:center;
}

.act-h3{
    font-size: 3.5rem;
    line-height:1.5;
}

.act{
    font-family:"Ubuntu";
    margin-top: 4.2%;
    font-size:1.5rem;
    margin-right: 2%;
}



/* Footer */


#footer{
    background-color:#fff;
    padding:6% 15%;
    text-align:center;
    margin-top:2%;    
}

.final-para{
    font-size:1.2rem;
    color:lightgray;
    line-height:2.4;
    font-family: "Lato";
}

.i-footy{
    margin-right:1.2%;
}



/* Media queries */


@media(max-width:994px){
    .title-img{
        margin-top:7%;
        position: static;
        transform: rotate(10deg);
    }

    #title{
        text-align:center;
    }
}


